@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.inventory-details {
	padding: 24px;
    display: flex;
	flex-direction: column;
	
	@include tablet {
		flex-direction: row;
		padding: 32px;
	}

	&__container1{
		display: flex;
		flex-direction: column;
	
		@include tablet {
			flex:5;
			margin-right:2rem;
			border-right: 1px solid $cloud;
		}
	}

	&__container2{
		display: flex;
		flex-direction: column;
	
		@include tablet {
			flex:5;
			margin-bottom: 0;
		}
	}

	&.__status-and-quantity{
		display: flex;
		flex-direction: row;
	
		@include tablet {
			margin-bottom: 40px;
		}
	}
}

.inventory-description,
.inventory-category,
.inventory-quantity,
.inventory-warehouse {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
	@include p2-style;
	padding:0;
	font-weight: $font-weight-regular;

	@include tablet {
		flex: 1;
		gap: 0;
		margin-bottom: 0;
	}

	&__label {
		margin: 0;
		@include h4-style;
		font-weight: $font-weight-semibold;
		padding-bottom: 4px;
		color: $slate;

		@include tablet {
			font-weight: 600;
			padding-bottom: 4px;
		}
	}

	&__content {
		display: inline-block; 
		padding:0;
		margin:0;
		line-height: 20px;
		font-size:13px;
		color:$instock-black;
	
		@include tablet {
			line-height: 26px; 
			font-size:14px;
		}
	}
}

.inventory-description {
	&__content {
		width:295px;

		@include tablet {
			margin-bottom:28px;
		}

		@include desktop {
			margin-bottom:429px;
		}
	}
}

.inventory-status {
	display: flex;
	flex-direction: column;
	width: 50%;

	@include tablet {
		flex: 1;
		gap: 0;
		margin-bottom: 0;
	}

	&__label {
		margin: 0;
		@include h4-style;
		font-weight: $font-weight-semibold;
		padding-bottom: 4px;
		font-size:11px;
		color: $slate;
		

		@include tablet {
			font-size:12px;
			font-weight: $font-weight-semibold;
		}
	}

	&__content {
		border-radius: 20px;
		display: inline-block; 
    	justify-content: center;
    	align-items: center;
		text-transform: uppercase;
		white-space: nowrap;
		margin: 0;
		padding: 4px 8px; 
		line-height: 20px;
		margin-bottom: 16px;
		font-weight: $font-weight-semibold;
		font-size:11px;
		cursor: pointer;
	
		@include tablet {
			line-height: 22px; 
		}

		&.in-stock {
			background-color: rgba($green, 7%);
			color: $green;
			width:52px;
		}

		&.out-of-stock {
			background-color: rgba($red, 7%);
			color: $red; 
			width:70px;
		}
	}
}

.inventory-warehouse {
	margin-bottom: 8px;
}

.inventory-quantity {
	@include tablet {
		margin-bottom: 16px;
	}
}
