@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

hr {
	border: 1px $cloud solid;
	margin: 0;
	@include tablet {
		display: none;
	}
}


.inventory-details {
	padding: 1rem;
	box-sizing: border-box;
    display: flex;
	flex-direction: column;
	@include tablet {
		padding: 32px;
		display: flex;
	}
}

.inventory-details__container1{
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-bottom: 24px;
}

.inventory-details__container2{
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-bottom: 24px;
}

.inventory-details__status-and-quantity{
	display: flex;
	flex-direction: row;
    gap: 4px;
	margin-bottom: 24px;
}

.inventory-description,
.inventory-category,
.inventory-status,
.inventory-quantity
.inventory-warehouse {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-bottom: 24px;

	@include tablet {
		flex: 1;
		border-right: 1px solid $cloud;
		gap: 0;
		margin-bottom: 0;
	}

	&__label {
		margin: 0;
		@include h4-style;
		font-weight: 600;
		color: $slate;

		@include tablet {
			margin-bottom: 8px;
			font-weight: 600;
		}
	}

	&__container {
		display: flex;

		@include tablet {
			flex-direction: column;
		}

		&-item {
			margin: 0;
			@include p2-style;
			color: $instock-black;
		}
	}
}

.inventory-status {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-bottom: 24px;

	@include tablet {
		flex: 1;
		border-right: 1px solid $cloud;
		gap: 0;
		margin-bottom: 0;
	}

	&__label {
		margin: 0;
		@include h4-style;
		font-weight: 600;
		color: $slate;
		@include tablet {
			margin-bottom: 8px;
			font-weight: 600;
		}
	}

	&__content {
        border-radius: 20px; 
        height: 24px;
        display: inline-block; 
        justify-content: center;
        align-items: center;

        @include tablet {
          height: 26px; 
        }

        &.in-stock {
          background-color: rgba(#15B463, 7%);
          color: #15B463;
          padding: 4px 8px; 
        }

        &.out-of-stock {
          background-color: rgba(#C94515, 7%);
          color: #C94515; 
          padding: 4px 8px; 
        }
	}    
}