@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.inventory-details {
	padding: 1rem;
	box-sizing: border-box;
    display: flex;
	flex-direction: column;
	
	@include tablet {
		flex-direction: row;
		padding: 32px;
	}
}

.inventory-details__container1{
	display: flex;
	flex-direction: column;
	gap: 4px;

	@include tablet {
		max-width: 50%;
		margin-right:2rem;
		border-right: 1px solid $cloud;
	}
}

.inventory-details__container2{
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-bottom: 24px;

	@include tablet {
		width: 50%;
	}
}

.inventory-details__status-and-quantity{
	display: flex;
	flex-direction: row;
    gap: 4px;

	@include tablet {
		margin-bottom: 6px;
	}
}

.inventory-description,
.inventory-category,
.inventory-status,
.inventory-quantity,
.inventory-warehouse {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-bottom: 6px;
	@include p2-style;

	@include tablet {
		flex: 1;
		gap: 0;
		margin-bottom: 0;
	}

	&__label {
		margin: 0;
		@include h4-style;
		font-weight: 600;
		color: $slate;

		@include tablet {
			margin-bottom: 8px;
			font-weight: 600;
		}
	}

	&__content {
		display: flex;
		margin-top: 0;
		color:$instock-black;
		margin-right: 2rem;;


		@include tablet {
			flex-direction: column;
		}
	}
}

.inventory-status {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-bottom: 6px;
	width: 50%;

	@include tablet {
		flex: 1;
		gap: 0;
		margin-bottom: 0;
	}

	&__label {
		margin: 0;
		@include h4-style;
		font-weight: 600;
		color: $slate;
		@include tablet {
			margin-bottom: 8px;
			font-weight: 600;
		}
	}

	&__content {
		border-radius: 20px;
        height: 24px;
        display: inline-block; 
        justify-content: center;
        align-items: center;
		width: 50%;
		text-transform: uppercase;

        @include tablet {
          height: 26px; 
		  width: 55%;
        }

        &.in-stock {
          background-color: rgba(#15B463, 7%);
          color: #15B463;
          padding: 4px 8px; 
        }

        &.out-of-stock {
          background-color: rgba(#C94515, 7%);
          color: #C94515; 
          padding: 4px 8px; 
        }
	}    
}