// Typography
$font-primary: 'Titillium Web', sans-serif;

// Weights
$font-weight-regular: 400;
$font-weight-semibold: 600;

// Primary Colors
$instock-black: #131B2C;
$instock-indigo:#2E66E5;
$white: #FFFFFF;

// Secondary Colors
$slate: #5C667E;
$cloud: #BDC5D5;

// Background Colors
$graphite: #232940;
$light-grey: #F7F8F9;

// Supporting Colors
$green: #15B463;
$red: #C94515;

// Breakpoints
$tablet-width: 767px;
$desktop-width: 1280px;
