@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.form-container {
    margin: 2rem;
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }

    &__h2 {
        color: $instock-black;
        @include h2-style;
    }

    &__label {
        color: $instock-black;
        @include h3-style;
        font-weight: 600;
        margin-bottom: 0.25rem;
    }

    &__input {
        height: 2.25rem;
        width: 100%;
        padding: 0.5rem 1rem;
        border: 0.0625rem solid $cloud;
        border-radius: 1.25rem;
        margin-bottom: 0.25rem;

        @include tablet {
            height: 2.375rem;
        }

        &:focus {
            outline: none;
            border-color: $slate;
        }

        &--error {
            border-color: $red;
        }

        &--active {
            border-color: $slate;
        }
    }

}

.form-container__error {
    @include p3-style;
    color: red;
}

.form-heading {
    color: $instock-black;
    @include h1-style;
}