@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.inventory-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: $cloud 1px solid;

  @include tablet {
    padding:0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    padding-bottom: 24px;
    @include h1-style;
    color: #333;

  }

  &__controls {
		padding-bottom: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      width: 48%;
      flex-direction: row;
      padding: 0;
    }
  }

  &__input {
    height: 36px;
    max-width: 100%;
    @include p2-style;
    font-size:13px;
    border-radius: 20px;
    padding: 0 1rem;
    border: solid 1px $cloud;
    background-image: url("../../assets/icons/search-24px.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    margin-bottom:1rem;

    @include tablet {
      height: 38px;
    }
  }

  &__add-btn {
    height: 36px;
    width: 100%;
    padding: 8px, 103px, 8px, 103px;
    border-radius: 20px;
    background-color: $instock-indigo;
    border: none;
    gap:10px;
    color: white;
    cursor: pointer;
    font-weight: $font-weight-semibold;

    &:hover {
      background-color: #003C8F;
    }

    @include tablet {
      height: 38px;
    }
  }
}
  
