@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;


.warehouse {
	box-sizing: border-box;
	background-color: $white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 24px;
	border-bottom: $cloud 1px solid;
	@include tablet {
		padding: 32px;
		flex-direction: row;
		align-items: center;
	}
	@include desktop {
		&:hover {
			background-color: rgba(46, 102, 229, 0.07);
		}
		justify-content: space-between;
		flex-basis: auto;
		
	}

	&-top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1rem;
		@include tablet {
			flex: 20;
			gap: 0;
			justify-content: unset;
			width: 100%;
		}
		@include desktop {
			flex: unset;
			flex-basis: auto;
			width: 90%;
			justify-content: unset;
		}
	}

	&-btm {
		display: flex;
		@include tablet {
			flex: 1;
			display: flex;
			width: max-content;
			justify-content: flex-start;
		}
		@include desktop {
			flex: unset;
			width: unset;
		}
	}

	&-container {
		display: flex;
		flex-direction: column;
		flex: 1;
		@include tablet {
			display: flex;
			flex-direction: row;
			align-items: center;
			flex: unset;
		}
		@include desktop {
			max-width: unset;
			flex: unset;
			justify-content: unset;
		}

		&__one {
			@include tablet {
				flex-basis: 45%;
			}
			@include desktop {
				width: 500px;
				flex-basis: unset
			}
			
		}

		&__two {
			@include tablet {
				flex-basis: 55%;
			}
			@include desktop {
				flex-basis: unset;
			}
		}

	}

	&-label {
		@include h4-style;
		color: $slate;
		font-weight: 600;
		margin: 0;
		padding-bottom: 4px;
		@include tablet {
			display: none;
			padding: 0;
		}
	}

	&-location {
		padding-bottom: 1rem;
		@include tablet {
			flex-basis: 35%;
			padding: 0;
		}
		@include desktop{
			width: 200px;
			flex-basis: unset;
		}

		&__item {
			@include h3-style;
			text-decoration: none;
			color: $instock-indigo;
			display: flex;
			align-items: center;
			font-weight: 600;
			@include tablet {
				font-weight: 600;
			}
			
		}
	}

	&-address {
		@include tablet {
			display: flex;
			flex-wrap: wrap;
			margin-right: 1rem;
		}
		&__item {
			margin: 0;
			@include h3-style;
			color: $instock-black;
			@include tablet {
			}
		}
	}

	&-contact {
		padding-bottom: 1rem;
		@include tablet {
			display: flex;
			padding: 0;
			flex-direction: row;
			flex-basis: 43%;
		}
		@include desktop {
			width: 180px;
			flex-basis: unset
		}

		&__item {
			@include h3-style;
			margin: 0;
			color: $instock-black;
			margin-bottom: 4px;
		}
	}

	&-information {
		&__item {
			@include h3-style;
			color: $instock-black;
			margin: 0;
			&-email {
				margin-top: 0;
			}
			@include desktop {
				margin: 0;
			}
		}
	}
	&-actions {
		display: flex;
		width: 100%;

		@include desktop {
			gap: 1rem;
		}

		&__label {
			display: none;
		}
		&__button {
			background: none;
			border: none;
			padding: 0;
			cursor: pointer;
			}
		}
}

.warehouse-buttons__flex {
	flex: 1;
	margin-top: 1rem;

	@include tablet {
		margin: unset;
	}
}