@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

hr {
	border: 1px $cloud solid;
	margin: 0;
}

.warehouse-details {
	&-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 1rem;

		@include tablet {
			border-bottom: 1px solid $cloud;
			padding: 32px 32px 24px;
		}

		&__nav {
			display: flex;
			align-items: center;

			&-current {
				margin: 0;
				@include h1-style;
				margin-left: 4px;
			}

			&-arrow {
				cursor: pointer;
			}
		}

		&__btn {
			width: 36px;
			height: 36px;
			border-radius: 20px;
			color: white;
			border: none;

			&:hover {
				cursor: pointer;
				background-color: $graphite;
			}

			&-edit {
				color: white;

				&:hover {
					background-color: $graphite;
					cursor: pointer;
				}
				
			}
		}
	}
}