@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.inventory-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: $cloud 1px solid;
    color: $instock-black;
    padding:24px 32px;

    @include tablet {
      padding: 8px 32px;
      flex-direction: row;
    }

    &__main-container{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
  
    &__details-container,
    &__info-container {
      display: flex;
      flex-direction: column;
      flex: 1;

      @include tablet {
        flex-direction: row;
        align-items: center;
      }
    }

    &__label-mobile {
      @include h4-style;
      margin:0;
      margin-bottom:4px;
		  color: $slate;
      font-weight: $font-weight-semibold;
		  
      @include tablet {
			  display: none;
		  }
    }

    &__name-container {
      @include tablet {
        flex: 5.5;
      }
    }

    &__category-container{
      @include tablet {
        flex: 4.5;
      }
    }

    &__name-sub-container {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      @include h3-style;
      margin-top:0;
    }

    &__name{
      margin-top: 0;
      margin-bottom:16px;
      color: $instock-indigo;
      font-weight: $font-weight-semibold;

      @include tablet {
        margin-bottom:0px;
      }
    }

    &__category {
      @include h3-style;
      margin-bottom: 16px;
      margin-top:0;

      @include tablet {
        margin-right:1rem;
        margin-bottom: 0;
        flex: 1;

        @include desktop {
          width: auto; 
        }
      }
    }

    &__status,
    &__quantity,
    &__warehouse {
      @include h3-style;
      margin-bottom: 16px;
      margin-top:0;

      @include tablet {
        margin-bottom: 0;
      }
    }

    &__status-container{
      @include tablet {
      flex: 4;
      }
    }
    &__quantity-container{
      @include tablet {
      flex: 2;
      }
    }
    &__warehouse-container {
      @include tablet {
      flex: 4;
      }
    }

    &__chevron{
      height: 20px;
    }
  
    &__status {
      border-radius: 20px; 
      display: inline-block; 
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      white-space: nowrap;
      cursor: pointer;
      padding: 0 8px; 
      width:61px;
      line-height: 20px;
      font-size:11px;
      font-weight: $font-weight-semibold;

      @include tablet {
        line-height: 26px; 
        margin: 4px;
        width:65px;
      }

      &.in-stock {
        background-color: rgba($green, 7%);
        color:$green;
        padding: 4px 8px; 
      }

      &.out-of-stock {
        background-color: rgba($red, 7%);
        color: $red; 
        padding: 4px 8px; 
      }
    }
  
  
    &__actions {
      display: flex;
      justify-content: space-between;
  
      button {
        background: none;
        border: none;
        padding: 4px;
  
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  