@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.inventory-details {
	&-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding:24px;

		@include tablet {
			border-bottom: 1px solid $cloud;
			padding: 32px 32px 24px;
		}

		&__nav {
			display: flex;
			align-items: center;
			color:$instock-black;

			&-arrow {
				padding-top:0.5rem;
				cursor: pointer;
			}
			
			&-current {
				margin: 0;
				@include h1-style;
				margin-left: 4px;
			}
		}

		&__btn {
			border: none;
			background-color: transparent;
			display: flex;
			justify-content: row;

			&-container {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 36px;
				height: 36px;
				border-radius:50px;
				background-color: $white; 
				border: solid 1px $instock-indigo;
				text-decoration: none;
							
				&:hover {
					background-color: darken(#0052cc, 10%); 
				}

				@include tablet {
					border-radius: 20px;
					width: 81px;
					background-position: calc(100% - 3rem) center;
				}
			}

			&-text {
				display:none;
				@include tablet {
					display:flex;
					color: $instock-indigo;
					padding:4px;
					margin-right: 10px;
				}
			}

			&-edit {
				width:20px;
				height:20px;
			}
		}
	}
}
